# Lab X. Wrap-Up

## In this lab you will apply the concepts and techniques developed in previous sessions. You are expected to work on the assignments (A1-A4) on your own.
## You are expected to submit the code developed as well as a brief description of your findings and insights for each assigment.
## This lab represents 60% of the total marking of the module

In [1]:
import numpy as np
import matplotlib.pyplot as plt

In [2]:
import pandas as pd

In [3]:
import seaborn as sns

In [4]:
# we need this command to remove some warning messages
pd.options.mode.chained_assignment = None  # default='warn'

In [5]:
### Let's load the gapminder dataset
gapminder = pd.read_csv('https://raw.githubusercontent.com/thousandoaks/BEMM458/master/data/gapminder.tsv', sep='\t')

In [6]:
gapminder.groupby(['country','continent','year']).count()

                            lifeExp  pop  gdpPercap
country     continent year
Afghanistan Asia      1952        1    1          1
                      1957        1    1          1
                      1962        1    1          1
                      1967        1    1          1
                      1972        1    1          1
...                             ...  ...        ...
Zimbabwe    Africa    1987        1    1          1
                      1992        1    1          1
                      1997        1    1          1
                      2002        1    1          1
                      2007        1    1          1

[1704 rows x 3 columns]

In [42]:
gapminder.groupby(['continent','year']).count()

                country  lifeExp  pop  gdpPercap
continent year
Africa    1952       52       52   52         52
          1957       52       52   52         52
          1962       52       52   52         52
          1967       52       52   52         52
          1972       52       52   52         52
          1977       52       52   52         52
          1982       52       52   52         52
          1987       52       52   52         52
          1992       52       52   52         52
          1997       52       52   52         52
          2002       52       52   52         52
          2007       52       52   52         52
Americas  1952       25       25   25         25
          1957       25       25   25         25
          1962       25       25   25         25
          1967       25       25   25         25
          1972       25       25   25         25
          1977       25       25   25         25
          1982       25       25   25         25
          1987       25       25   25         25
          1992       25       25   25         25
          1997       25       25   25         25
          2002       25       25   25         25
          2007       25       25   25         25
Asia      1952       33       33   33         33
          1957       33       33   33         33
          1962       33       33   33         33
          1967       33       33   33         33
          1972       33       33   33         33
          1977       33       33   33         33
          1982       33       33   33         33
          1987       33       33   33         33
          1992       33       33   33         33
          1997       33       33   33         33
          2002       33       33   33         33
          2007       33       33   33         33
Europe    1952       30       30   30         30
          1957       30       30   30         30
          1962       30       30   30         30
          1967       30       30   30         30
          1972       30       30   30         30
          1977       30       30   30         30
          1982       30       30   30         30
          1987       30       30   30         30
          1992       30       30   30         30
          1997       30       30   30         30
          2002       30       30   30         30
          2007       30       30   30         30
Oceania   1952        2        2    2          2
          1957        2        2    2          2
          1962        2        2    2          2
          1967        2        2    2          2
          1972        2        2    2          2
          1977        2        2    2          2
          1982        2        2    2          2
          1987        2        2    2          2
          1992        2        2    2          2
          1997        2        2    2          2
          2002        2        2    2          2
          2007        2        2    2          2

In [8]:
gapminder.sample(10)

               country continent  year  lifeExp        pop     gdpPercap
518            Finland    Europe  1962   68.750    4491443   9371.842561
1199          Paraguay  Americas  2007   71.752    6667147   4172.838464
168             Brazil  Americas  1952   50.917   56602560   2108.944355
750            Ireland    Europe  1982   73.100    3480000  12618.321410
327   Congo, Dem. Rep.    Africa  1967   44.056   19941073    861.593242
119            Belgium    Europe  2007   79.441   10392226  33692.605080
1608     United States  Americas  1952   68.440  157553000  13990.482080
467              Egypt    Africa  2007   71.338   80264543   5581.180998
91             Bahrain      Asia  1987   70.750     454612  18524.024060
1274           Romania    Europe  1962   66.800   18680721   4734.997586

## Assignment 1. Which economies in Asia grew the most in absolute terms ?

 ###Â You would need to define growth in the first place. Is it the evolution of GDP ? evolution of life expectancy ? population ? a bit of everything ?

### Hint: refer to the following link for tips on how to plot evolution of quantitative variables:

https://seaborn.pydata.org/tutorial/relational.html#relational-tutorial

### Have a look at the relplot command to produce visualization such as:

https://seaborn.pydata.org/_images/relational_59_0.png

NOTE key terms: growth, absolute growth

Define absolute growth : difference in absolute numbers, not percentages

Defining growth: growth of an economy is most obviously defined by GDP growth, but population growth would be relevant as well, as it increases the size of the available working population. 
GDP per Capita: changes with population size
Life Expectancy: shrinking economy due to ageing population?
Productivity values as justification for higher or lower growth values

Use factor analysis to create unified 'success' factor?

In [ ]:
# create new data frame including only Asian countries by creating and applying an appropriate filter.
Asiafilter=gapminder['continent']=='Asia'
Asia_gapminder=gampinder[Asiafilter]

## Assignment 2. Which economies in Asia grew the most in relative terms ?

###Â You would need to define growth in terms of incremental evolution of GDP and life expectancy
### This approach provides a measure of the effort of each economy to improve its living standards.

#### Hint: you would want to compute deltas (refer to time series example in the lab).

#### Hint:  you would also want to compute cummulative increments (refer to time series example in the lab).

## Assignment 3. Is there any relationship between GDP Per Capita and life Expectancy ?

### Hint: consider a regplot visualization
### refer to:

https://seaborn.pydata.org/tutorial/regression.html#functions-to-draw-linear-regression-models

### Hint: you can also consider a joint kernel density estimate visualization
### refer to:
https://seaborn.pydata.org/examples/joint_kde.html

## Assignment 4. Has the relationship between GDP Per Capita and life Expectancy changed with time ?

### Tip: consider a FacetGrid visualization (year, gdpPercap, lifeExp)
### refer to:
https://seaborn.pydata.org/generated/seaborn.FacetGrid.html#seaborn.FacetGrid